## Hackathon Batle - T-mac

##### Define the project

Your goal is to deliver insights about the data.
- What types of customers are most likely to respond to the direct mail campaign?
- Are there different customer archetypes that respond in predictable ways?

##### Decriptions

There are 145,231 observations of 1932 features. The final column, labeled `target` indicates whether or not the customer responded to the direct mail campaign.

##### Do EDA
Anything that you can think of

##### Feature selection

How do you select the features

##### Feature Engineering

Optimize your features

##### Refining

The best way to approach this problem is construct a model of whether or not a customer responds to the campaign.

##### Presentation

Your presentation should answer the following questions:

1. What steps did you take to clean the data? That is, how did you deal with outliers, missing values, etc.?
2. What are the most important features in the data?
3. Are there any relationships between features?
4. Is the model you built any good?
5. How can you tell if someone is likely to respond to a direct mail campaign?

In [2]:
from sklearn.decomposition import PCA as sPCA
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier
from sklearn.cross_validation import train_test_split

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve, auc



from matplotlib.mlab import PCA as mPCA


import seaborn as sns
import pandas as pd
import numpy as np



import matplotlib.pyplot as plt

%matplotlib inline

In [13]:
from __future__ import division
from collections import defaultdict, Counter
import numpy as np
import pandas as pd
from numpy.random import randn
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.feature_selection import VarianceThreshold
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_curve, auc
from scipy import interp
from sklearn.cross_validation import KFold
from sklearn.preprocessing import StandardScaler


%pylab inline
%matplotlib inline
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [20]:
from sklearn.datasets import load_digits

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA
from sklearn import cluster, datasets, decomposition, ensemble
from sklearn import lda, manifold, random_projection, preprocessing


from statsmodels.regression import linear_model

import statsmodels.api as sm
import seaborn as sea
sea.set()

import pandas as pd
import numpy as np

digits = load_digits()

% pylab inline
% autoreload 2

Populating the interactive namespace from numpy and matplotlib

/Users/eloisaelias/anaconda/lib/python2.7/site-packages/sklearn/lda.py:4: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)

In [8]:
df = pd.read_csv('data1000.csv')

In [11]:
df.describe()

,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,VAR_0016,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,target
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,...,999.000000,999.000000,999.000000,999.000000,9.990000e+02,999.000000,999.000000,999.000000,999.000000,999.00000
mean,973.146146,111.666667,88.666667,3990.115115,0.628629,0.495495,0.628629,0.484484,0.453453,1.418418,...,0.819820,87.413413,90.193193,918.102102,9.889890e+08,928.802803,939.526527,9947.788789,8923.681682,0.20020
std,564.829397,163.019320,119.435446,11257.821965,1.574859,2.284331,1.574859,2.287351,1.040072,1.127672,...,8.260632,30.445593,26.396767,270.858846,1.044063e+08,202.740197,205.042195,705.491012,3087.335711,0.40035
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,5.000000,0.00000
25%,482.500000,19.000000,14.000000,1800.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.00000
50%,988.000000,60.000000,60.000000,2509.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.00000
75%,1453.500000,137.000000,121.000000,3640.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.00000
max,1945.000000,999.000000,999.000000,290200.000000,17.000000,66.000000,17.000000,67.000000,10.000000,11.000000,...,99.000000,99.000000,99.000000,999.000000,1.000000e+09,999.000000,999.000000,9999.000000,9999.000000,1.00000

In [12]:
df[:2]

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0,0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1,0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0

In [24]:
sam = np.random.choice(df.index.values, df.shape[0]*0.1 )
df_sam = df.ix[sam]

/Users/eloisaelias/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

In [25]:
df_sam.describe()

,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,VAR_0016,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,target
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000
mean,1059.555556,113.747475,76.111111,2809.898990,0.757576,0.979798,0.757576,0.969697,0.494949,1.414141,...,1.080808,90.090909,90.141414,917.545455,9.898990e+08,942.525253,934.444444,9896.929293,9194.878788,0.191919
std,525.003250,158.896728,88.183701,2553.184216,1.906439,6.634757,1.906439,6.730155,1.296571,1.237262,...,9.945440,26.848057,26.677213,272.771276,1.005038e+08,193.238530,222.256665,1004.321095,2722.505686,0.395814
min,5.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,3.090000e+02,1.000000,0.000000,5.000000,30.000000,0.000000
25%,644.500000,17.500000,12.500000,1700.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
50%,1144.000000,60.000000,52.000000,2396.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
75%,1481.500000,139.000000,103.000000,3257.000000,1.000000,0.500000,1.000000,0.500000,0.000000,1.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
max,1942.000000,999.000000,393.000000,24000.000000,13.000000,66.000000,13.000000,67.000000,8.000000,11.000000,...,99.000000,99.000000,99.000000,999.000000,1.000000e+09,999.000000,999.000000,9999.000000,9999.000000,1.000000

In [26]:
y = df_sam.pop('target').values
feature_names = df_sam.columns
X = df_sam.values